                              /* Корневые параметры, переменные */
* {
  margin: 0;
  padding: 0;
}
                                 :root {
   font-size: 15px;
 --primary-color: #00000080;
 --white-color: rgba(255, 255, 255, 0.966);
 --light-grey: #e9e9e9;
}

@font-face {
  font-family: "igra sans";
  src: local("Igra Sans");
   url("IgraSans.woff") format("woff2");
   url("IgraSans.woff") format("woff")
   font-weight: normal;
}



                                 /* Body */
body {
   -webkit-text-size-adjust: none; /* проверить нужно ли*/
   background-color: rgb(243 244 246);
   font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   margin: 0;
   padding: 0px;
   margin-left: auto;
   margin-right: auto;   

}

                                 /* Контейнер */
.container {
   margin-top: 5rem;
   padding: 1rem 1rem 1rem 1rem;
transition-duration: 150ms;
   background-color: #ffffff;
   border-radius: 0px;
   box-shadow: 0 2px 7px 1px rgb(0 0 0 / 26%);
}
.container.index {

}


                                 /* Название песни */                           
.title {
   padding: 2rem 0;
}
                                 /* Нотный стан*/
.treble-staff {
   margin: 1rem 0;
   display: none;
}
.treble-staff::before {
   content: url(res/Treble_clef_1.svg);
   display: block;
   height: 50px;
   width: 34px;
   position: absolute;
   translate: 2px -12px;
}

.line1,
.line2,
.line3,
.line4,
.line5
 {
    height: 0px;
    width: auto;
    background-color: black;
    border: 0.5px solid black;
    margin: 7px 0;
}
                                 /* Блок инфо на странице песни */
.info-block {
 display: none;
}
                                 /* Настройки строк */
.text-lines {
   margin: 0.5rem 0 0.5rem 0;
}

.line {
   line-height: 2;
}

                                 /* Заголовки блоков */
.section-header {
   line-height: 1;
   text-transform: uppercase;
   font-weight: 700;
   position: absolute;
   transform: translate(0rem, -1.35rem);
   padding: 0rem 1rem;
   background: white;
}
                                  /* Комментарии блоков */
.comment {
   line-height: 0.8rem;
   font-size: 0.8rem;
   font-weight: 600;
   color: #00000070;;
   text-align: right;
}
                                 /* Аккорды */
span.chord {
   position: absolute;
   transform: translate(0rem, -0.9rem);
   font-weight: 600;
   color: black;
}
                                 /* Позиционирование аккордов без слов */
.INTRO > .text-lines > .line > .chord,
.INSTRUMENTAL > .text-lines > .line > .chord,
.INTRO > .text-lines > .line,
.INSTRUMENTAL > .text-lines > .line
   {
   background-color: #ff000000;
   position: relative;
   margin-top: 0;
   line-height: 2rem;
}
                                 /* Настройки блоков */
.section {
   line-height: 1rem;
   padding: 1rem 1rem 0rem 1rem;
   border: 2px solid #00000050;
   border-radius: 1rem;
   margin-bottom: 1rem;
   break-inside: avoid;
}

                                 /* сброс отступов сверху у блоков текста*/
/*.comment + .text-lines,
.INTRO > .text-lines > .line,
.INSTRUMENTAL > .text-lines > .line
   {
   margin: 0.5rem 0 1rem 0;
}*/
                                 /* Колонка */
                       
   .song-wrapper {
      columns: 1;
   }
.column-wrapper {
   max-width: fit-content;
}


 

/* *********************************************** главная станица */ 

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 26%);
    background: rgba(255, 255, 255, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 100;
    backdrop-filter: blur(4px);

}

.header-container > h1 {
   margin: auto;
   font-size: 1.8rem;
   font-family: "igra sans";
   font-weight: 100;
}

ul {
   padding: 0;
   list-style-type: none;
   font-weight: 400;
}

.info-block-index {
    display: none;
}

.song-item {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #e9e9e9;
    border: 0.1rem solid #ffffff;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 16%);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.song-item:hover {
   transform: translateY(-3px);
   box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 14%);
}

a.song-link {
   text-decoration: none;
   color: #0a0a0a;
   min-width: fit-content;
   width: 100%;
   padding: 1rem;
}

.artist,
.additional-info,
.meta-capo
 {
   display: none;
}

.info-block-index span
{
   background-color: var(--primary-color);
   color: var(--white-color);
   border-radius: 4px;
   font-size: 0.8rem;
   padding: 0.4rem 0.8rem;
   margin: 0.5rem;
}

.last-update {
   margin-top: 2rem;
   font-size: 0.8rem;
   text-align: center;
   color: #00000080;
}
                                 /* низ, настройки странички */
.page-settings {
   margin: 1rem 0;
   display: flex;
   flex-direction: row;
   height: 5rem;
}

.toggle-chords-content > svg {
   min-width: 1.5rem;
}
#toggle-chords {
   min-width: 9rem;
   text-align: center;
}
                                 /* Блок транспонирования */
div.transpose-controls {
   margin-left: auto;
   white-space: nowrap;
   }


button:active {
 transform: scale(0.95);
   }

.transpose-controls div {
   display: inline-block;
   text-align: center;
   background-color: var(--light-grey);
   padding: 1rem 0 1rem 0;
   min-width: 65px;
}

button#print {
   min-width: 6rem;
}

button#print,
button.transpose,
#toggle-chords
{

 margin: 0rem 0.2rem;
 padding: 1rem;
 border: none;
 background-color: var(--light-grey);
 transition: all 0.1s linear;
 font-family: inherit;
 font-size: 1rem;
width: 4rem;
height: 4rem;
 border: 0.1rem solid #ffffff;
      border-radius: 1rem;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 16%);
}



@media only screen and (min-width: 720px) {
    body {

   max-width: 720px;

   margin: 0;

   margin-left: auto;
   margin-right: auto;   
   /*border: 1px solid;*/
}
   
   
   body {
        -webkit-text-size-adjust: none;

    }
.container {
   margin-top: 7rem;
   margin-bottom: 3rem;
   padding: 1rem;
transition-duration: 150ms;
   background-color: #ffffff;
   border-radius: 0px;


   border-radius: 8px;
   box-shadow: 0 2px 7px 1px rgb(0 0 0 / 26%);
}




}

                                /* Параметры страницы на печать */
@media print {
   @page {
    /*size: Letter portrait;
    margin: 0;*/
   }
body {
   background-color: transparent;
   max-width: 210mm;

   margin: 0;
   padding: 0;
   margin-left: auto;
   margin-right: auto;   
}
.container,
.container.song
 {
   background-color: transparent;
   border-radius: 0;
   box-shadow: none;
   outline: none;
   padding: 0;
   padding-top: 0;
   margin-top: 0;
   margin-bottom: 0;
}
   .song-wrapper {
   columns: 2;
   column-gap: 1rem;
   column-fill: auto;
   height: auto;
   }   
   .title {
   padding: 0 0 1rem 0;
}
   div.page-settings,
   .info-block,
   .header
   {
      display: none !important; /* скрыть настройки на печати*/
   }
}
